.SCRPG.sheet.item {
    form {
        display: flex;
        flex-direction: column;
    }
    .sheet-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        .editor {
            height: 6.25rem;
            .tox .tox-tbtn {
                transform:scale(0.9);
                height: 18px;
                width: auto;
            }
            .tox.tox-tinymce .tox-tbtn[title="Formats"]{
                width: 80px;
            }
        }
    }
    .powerquality {
        background-color: $white;
        td:first-child {
            width: 3.75rem;
        }    
    }
    .green-abilities {
        background-color: $greenbg;
    }
    .yellow-abilities {
        background-color: $yellowbg;
    }
    .red-abilities {
        background-color: $redbg;
    }
    .villain-abilities {
        background-color: $graybg;
    }
    .box-border {
        border: 2px solid $black;
        box-shadow: 2px 2px $gray;
        margin-bottom: 4px;
    }
    .green-abilities, .yellow-abilities, .red-abilities, .villain-abilities, .powerquality {
        td, tr, th{
            border: 1px dotted $black;
            padding: 4px;
        }
    }
    .icon-position {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 2px;
        text-align: center;
    }
    .minion-form-sheet {
        td:nth-child(2){
            width: 7.5rem;
            text-align: center;
            vertical-align: top;
            select {
                margin-top: 3px;
            }
        }
    }
    .heroMinion-sheet {
        td {
            text-align: center;
        }
    }
}