<a title='{{localize "SCRPG.button.rollAllMinions" }}' class="roll-all-minions minion-group-item" data-group={{index}}>
    <i class="fas fa-dice"></i>
</a>
<a title='{{localize "SCRPG.button.deleteMinions" }}' class="delete-all-minions minion-group-item" data-group={{index}}
    data-type="heroMinion">
    <i class="fas fa-trash"></i>
</a>