<div class="SCRPG chat roll">
    <table class="box-border box-border-black {{#color}}{{item.system.type}}{{/color}}-abilities">
        <tr>
            <td>
                <div class="nested-name">
                    <p>{{item.name}}: </p>
                    {{{item.system.description}}}
                </div>

            </td>
        </tr>
    </table>
</div>