<div class="SCRPG chat roll">
    <table class="box-border box-border-black villain-abilities">
        <tr>
            <td colspan="2" class="ability-title center-text">{{item.name}}</td>
        </tr>
        <tr>
            <td colspan="2">
                {{{item.data.data.description}}}
            </td>
        </tr>
    </table>
</div>