<div class="SCRPG chat roll">
    <table class="box-border box-border-black villain-abilities">
        <tr>
            <td class="ability-title center-text">{{localize "SCRPG.charInfo.out"}}</td>
        </tr>
        <td>
            {{{out}}}
        </td>
        </tr>
    </table>
</div>