{{!-- Sheet for displaying Environments --}}

<form class="{{cssClass}}" autocomplete="off">
    <nav class="sheet-tabs tabs box-border" data-group="primary">
        <a class="item" data-tab="info">{{ localize "SCRPG.tabs.environmentInfo" }}</a>
        <a class="item" data-tab="minions">{{ localize "SCRPG.tabs.minions" }}</a>
    </nav>
    <section class="sheet-body">
        {{!-- Hero Tab Content --}}
        <div class="tab info" data-group="primary" data-tab="info">
            {{> "systems/Sentinels-Foundry/templates/partials/environment.hbs"}}
        </div>
        <div class="tab minions" data-group="primary" data-tab="minions">
            {{> "systems/Sentinels-Foundry/templates/partials/minions.hbs"}}
        </div>
    </section>
</form>