<form class="{{cssClass}}" autocomplete="off">
    <header class="ability-title sheet-header">
        <h3 class="villain-abilities box-border "><input name="name" type="text" value="{{item.name}}"
                placeholder="{{ localize 'Name' }}" /></h3>
    </header>
</form>